<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-store" />
    <base href="/" >
    <title>NLPatent</title>
    <meta name="description" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/bootstrap_nlp_app_theme.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='assets/js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/svg.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/velocity.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/velocity.ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/modernizr.js') }}"></script>
</head>
<body>

<!-- headers - login, applicaton, profile -->
<div class="container-header-holder login" id="header-login" style="display:block !important;">
    <div class="container-header">
        <div class="container" style="position:relative;">
            <div id="header-left">&nbsp;</div>
            <div id="header-skew-login"></div>
            <!-- ******************************************************* -->
            <div class="row" id="row-header-logo" style="min-height:150px;">
                 <div class="col-xs-12 col-sm-12">
                    <img src="{{ url_for('static', filename='images/nlp_logo_sm.png') }}" class="img-responsive">
                </div>

            </div>
            <!-- ******************************************************* -->

            <div class="row" style="color:#fff;">
                <div class="col-xs-12 col-sm-3 col-md-4">

                </div>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="hidden-sm hidden-md hidden-lg"><br><br></div>
                    <!-- <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p> -->
                    <br><br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8 text-xs-center">


                            <div class="nlpapp-error-svg">
                                <center>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="50 45 80 66" xml:space="preserve" style="height:50px;margin:1em auto;">
                                    <filter id="dropshadow" x="0" y="0" height="110%" width="110%">
                                        <feGaussianBlur in="SourceGraphic" stdDeviation="2" />
                                    </filter>
                                    <style type="text/css">
                                        .error_st{fill:#f7961d;opacity:0.75;}
                                        .error_st0{fill:#4A5C68;}
                                        .error_st1{fill:#FFFFFF;}
                                    </style>
                                    <polygon class="error_st" style="filter:url(#dropshadow)" points="73.3,107 56.5,78 73.3,49 106.7,49 123.5,78 106.7,107 "/>
                                    <polygon class="error_st0" points="105,52 90,52 75,52 67.5,65 60,78 67.5,91 75,104 90,104 105,104 112.5,91 120,78 112.5,65 "/>
                                    <g>
                                        <path class="error_st1" d="M90,89.2c1.7,0,3.1,1.4,3.1,3.3c0,1.9-1.4,3.2-3.1,3.2c-1.7,0-3.1-1.4-3.1-3.2C86.9,90.5,88.3,89.2,90,89.2z
                                             M88,65.2l-0.1-4.9h4.3l-0.1,4.9l-0.6,19.7h-3L88,65.2z"/>
                                    </g>
                                    </svg>
                                </center>
                            </div>
                            <div class="subtitle">There's a problem with your request.</div>
                            <p><br>Please  <a href="/app" style="text-decoration:underline;">return to the homepage</a> and try resetting your password again.</p>
                            <br><br>


                        <script language="javascript">
                            $( document ).ready(function() {

                                // utility functions

                                // debounce delays firing of functions - typically used with resize events
                                // ---------------------------------------------------------------
                                function debounce(func, wait, immediate) {
                                     var timeout;
                                     return function() {
                                          var context = this, args = arguments;
                                          var later = function() {
                                               timeout = null;
                                               if (!immediate) func.apply(context, args);
                                          };
                                          var callNow = immediate && !timeout;
                                          clearTimeout(timeout);
                                          timeout = setTimeout(later, wait);
                                          if (callNow) func.apply(context, args);
                                     };
                                };
                                // draws triangle skew in top of header
                                // redraws with every resize
                                // ---------------------------------------------------------------
                                function resize_skew_div(){
                                    $("#header-skew-login").html("");
                                    var div_w = $("#header-skew-login").width();
                                    var div_h = $("#header-skew-login").height();
                                    var header_svg = SVG("header-skew-login").size(div_w, div_h);
                                        header_svg.polygon("0,0 "+div_w+",0 0,"+div_h).fill("#fff").stroke({ width: 0 });
                                        //
                                }
                                window.addEventListener('resize', resize_skew_div);
                                resize_skew_div();


                                // loader animation
                                // ---------------------------------------------------------------
                                var animspeed = 150;
                                var $loader_hexhead = $("#loader-hexhead");
                                function loopanimation(loader_hexhead_id){
                                    loader_hexhead_id.velocity({ translateX:-14.286,translateY:24.666 }, { duration : animspeed, easing: "linear", complete: function() {
                                        loader_hexhead_id.velocity({ translateX:-42.857,translateY:24.666 }, { duration : animspeed, easing: "linear", complete: function() {
                                            loader_hexhead_id.velocity({ translateX:-57.143,translateY:0 }, { duration : animspeed, easing: "linear", complete: function() {
                                                loader_hexhead_id.velocity({ translateX:-85.714,translateY:0 }, { duration : animspeed, easing: "linear", complete: function() {
                                                    loader_hexhead_id.velocity({ translateX:-100,translateY:24.666 }, { duration : animspeed, easing: "linear", complete: function() {
                                                        loader_hexhead_id.velocity({ translateX:-85.714,translateY:49.333 }, { duration : animspeed, easing: "easlineareInOut", complete: function() {
                                                            loader_hexhead_id.velocity({ translateX:-57.143,translateY:49.333 }, { duration : animspeed, easing: "linear", complete: function() {
                                                                loader_hexhead_id.velocity({ translateX:-42.857,translateY:24.667 }, { duration : animspeed, easing: "linear", complete: function() {
                                                                    loader_hexhead_id.velocity({ translateX:-57.143,translateY:0 }, { duration : animspeed, easing: "linear", complete: function() {
                                                                        loader_hexhead_id.velocity({ translateX:-42.857,translateY:-24.667 }, { duration : animspeed, easing: "linear", complete: function() {
                                                                            loader_hexhead_id.velocity({ translateX:-14.286,translateY:-24.667 }, { duration : animspeed, easing: "linear", complete: function() {
                                                                                loader_hexhead_id.velocity({ translateX:0,translateY:0 }, { duration : animspeed, easing: "linear", complete: function(){
                                                                                    loopanimation(loader_hexhead_id)
                                                                                }});
                                                                            }});
                                                                        }});
                                                                    }});
                                                                }});
                                                            }});
                                                        }});
                                                    }});
                                                }});
                                            }});
                                        }});
                                    }});
                                }
                                var $loader_hexh1 = $("#loader-hexhead");
                                loopanimation( $loader_hexh1 );
                            });
                        </script>

                        </div>
                    </div>
                <br><br><br>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- footer - universal across application -->
<div class="container-footer" style="display:block !important;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            © 2018 Legalicity Ltd. All rights reserved.
            </div>
        </div>
    </div>
</div>
<!-- modals, loaders, errors -->
<!-- loader -->
<div class="modal " tabindex="-1" role="dialog" id="nlpapp-loader" aria-labelledby="Loading - Please Wait" data-backdrop="/static" data-keyboard="false" style="z-index:1075;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="nlpapp-loader-svg">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 156 130" style="enable-background:new 0 0 156 130;" xml:space="preserve">
                <style type="text/css">
                    .st1{fill:none;stroke:#4a5c68;stroke-width:6.6277;stroke-miterlimit:10;}
                    .st2{fill:url(#SVGID_1_);}
                    .st2a{fill:url(#SVGID_2_);}
                    .st3{fill:#FFFFFF;}

                </style>

                <polygon class="st1" points="70.9,52.7 42.3,52.7 28,77.3 42.3,102 70.9,102 85.1,77.3 "/>
                <polygon class="st1" points="113.7,28 85.1,28 70.9,52.7 85.1,77.3 113.7,77.3 128,52.7 "/>
                <g>
                    <radialGradient id="SVGID_1_" cx="128" cy="52.6667" r="26.5579" gradientUnits="userSpaceOnUse">
                        <stop  offset="0" style="stop-color:#F8971E"/>
                        <stop  offset="1" style="stop-color:#F8971E;stop-opacity:0"/>
                    </radialGradient>
                    <radialGradient id="SVGID_2_" cx="128" cy="52.6667" r="15" gradientUnits="userSpaceOnUse">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
                    </radialGradient>


                    <g id="loader-hexhead">
                        <circle class="st2" cx="128" cy="52.7" r="26.6"/>
                        <polygon class="st3" points="133.2,43.7 122.8,43.7 117.5,52.7 122.8,61.7 133.2,61.7 138.5,52.7  "/>
                    </g>
                </g>
                </svg>
            </div>
            <div class="nlpapp-loader-message" id="">WORKING HARD... PLEASE WAIT</div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- error modal -->
<div class="modal " tabindex="-1" role="dialog" id="nlpapp-errormsg" aria-labelledby="We have encountered an error" style="z-index:1100;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="top: -50px;">
            <div class="nlpapp-error-svg">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 180 156" style="enable-background:new 0 0 180 156;" xml:space="preserve">
                <filter id="dropshadow" x="0" y="0" height="110%" width="110%">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="2" />
                </filter>
                <style type="text/css">
                    .error_st{fill:#f7961d;opacity:0.75;}
                    .error_st0{fill:#4A5C68;}
                    .error_st1{fill:#FFFFFF;}
                </style>
                <polygon class="error_st" style="filter:url(#dropshadow)" points="73.3,107 56.5,78 73.3,49 106.7,49 123.5,78 106.7,107 "/>
                <polygon class="error_st0" points="105,52 90,52 75,52 67.5,65 60,78 67.5,91 75,104 90,104 105,104 112.5,91 120,78 112.5,65 "/>
                <g>
                    <path class="error_st1" d="M90,89.2c1.7,0,3.1,1.4,3.1,3.3c0,1.9-1.4,3.2-3.1,3.2c-1.7,0-3.1-1.4-3.1-3.2C86.9,90.5,88.3,89.2,90,89.2z
                         M88,65.2l-0.1-4.9h4.3l-0.1,4.9l-0.6,19.7h-3L88,65.2z"/>
                </g>
                </svg>
            </div>
            <div class="nlpapp-error-message"><br>OOPS. AI / SERVER ERROR.<br>PLEASE TRY AGAIN.</div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>




</body>
<html>